.container {
    max-width: 1020px;
    margin: 0 auto;
}

#posts {
    article {
        margin: 2em auto;
        text-align: justify;

        &.social iframe {
            margin: 0 auto !important;
        }
    }
}