<!doctype html>
<html lang="es">
    <head>
        <title>Joan Josep | {{ .Title }}</title>
    </head>
    <body>

        {{ partial "header.html" . }}

        <main>
        
            {{ .Content }}

        </main>

        {{ partial "footer.html" . }}
    </body>
</html>