* {
  font-family: sans-serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

#posts article {
  margin: 2em auto;
  text-align: justify;
}
#posts article.social iframe {
  margin: 0 auto !important;
}

/*# sourceMappingURL=main.css.map */
