<!doctype html>
<html lang="es">
    <head>
        <title>Joan Josep | {{ .Title }}</title>

        <link href="{{ "/css/main.css" | relURL }}" type="text/css" rel="stylesheet">

        {{- block "head" . }}{{- end }}

    </head>
    <body>

        {{ partial "header.html" . }}

        <main class="container">
        
                {{- block "main" . }}{{- end }}

        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
