{{ define "main" }}
     <section id="posts">
          {{ range .Pages }}
               {{ if .Params.isSocial}}
                    <article class="social">
                         {{ .Content }}
                    </article>
               {{ else }}

                    <article>
                         <header>
                                   <h2>{{ .Title }}</h2>
                         </header>

                         {{ .Summary }}

                         <br>
                         <a href="{{ .Permalink }}">Saber más</a>
                    </article>
               {{ end }}
          {{ end }}
     </section>
{{ end }}